
body {
    background-color: #999eec;
}

p, h2 {
    font-family: 'Volkornn', sans-serif;
    font-weight: 300;
    font-size: 10pt;
}


/* Titlecard */

div.titlecard {
    border-radius: 2px;
    background-color: #FFFFFF;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    padding-bottom: 20px;
}

h1.titlecard_title {
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32pt;
    text-align: center;
    margin-bottom: 0px;
}

p.titlecard_subtitle {
    margin-top: 0px;
    font-style: italic;
    font-size: 9pt;
    text-align: center;
    opacity: 0.3;
    margin-bottom: 40px;
}

p.titlecard_attribute {
    text-align: center;
}

span.subtitle_fob {
    display: inline-block;
    opacity: 0.5;
    transform: scaleY(0.2) scaleX(2.0);
    padding-left: 10px;
    padding-right: 10px;
}

h2.resume_link {
    padding-top: 15px;
    text-align: center;
    font-size: 18pt;
}


/* Resume */


/* Portfolio */
