
/* Main */

body {
    background-image: url("static/corridor_vignette_large.jpg");
    /* image-rendering: pixelated; */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000000;
}

p, h1, h2, h3, dt, dd, a, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p, dt, dd {
    font-size: 10pt;
}

.centered {
    text-align: center;
}




/* Primary containers */

div.container {
    background-color: rgba(255, 245, 249, 0.9);
    image-rendering: auto; /* not ideal; reverses background-image-pixelate effect */
    width: 520px;

    border-color: #BFA84F;
    border-width: 1em;
    border-style: double;

    margin: auto;
    margin-left: 7%;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2.container_title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Titlecard */

#titlecard {
    margin-top: 40px;
    /*border-top-left-radius: 5px; border-top-right-radius: 5px;*/
}

h1.titlecard_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

p.titlecard_subtitle {
    margin-top: 0px;
    font-style: italic;
    font-size: 9pt;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 40px;
}

p.titlecard_attribute {
    text-align: center;
}

.fob {
    display: inline-block;
    opacity: 0.5;
    transform: scaleY(0.2) scaleX(2.0);
    padding-left: 8px;
    padding-right: 8px;
}
.centeredfob {
    display: table;
    margin: auto;
}

h2.resume_link {
    margin-top: 40px;
    text-align: center;
    font-size: 18pt;
    margin-bottom: 10px;
}

p.linkedin_sublink {
    margin-top: 10px;
    font-size: 9pt;
    opacity: 0.8;
    margin-bottom: 10px;
}


/* Portfolio */

dt.portfolio_item {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 5px;
}

dd.portfolio_desc {
    padding-left: 40px;
    padding-right: 40px;
    font-style: italic;
    font-size: 9pt;
    margin-bottom: 10px;
}

h3.portfolio_year_header {
    margin-top: 30px;
    padding-left: 40px;
}

div.overlay_container {
    position: fixed;
    left: 50%;
    width: 600px;
    height: auto;
    max-height: 80%;
    margin: auto;
    background-color: rgba(255, 245, 249, 1);
    border-radius: 4px;
    left: 0; right: 0;
    overflow: auto;
    opacity: 1;
    border: 1px solid #999999;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;

    top: 15%;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -0-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
div.overlay_container>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.overlay_container>* {
    padding-left: 40px;
    padding-right: 40px;
}

#interaction2017_details:target {
    top: 5%;
    opacity: 1;
    pointer-events: all;

    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -0-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#interaction2017_details>h1 {
    font-size: 32pt;
    text-align: center;
    margin-bottom: 0px;
}
#interaction2017_details>p.subtitle {
    font-size: 9pt;
    opacity: 0.5;
    margin-top: 0px;
    text-align: center;
}
#interaction2017_details>ul {
    padding-left: 120px;
}

#blocks2_details:target {
    top: 5%;
    opacity: 1;
    pointer-events: all;

    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -0-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#blocks2_details>h1 {
    font-size: 32pt;
    text-align: center;
    margin-bottom: 0px;
}
#blocks2_details>p.subtitle {
    font-size: 9pt;
    opacity: 0.5;
    margin-top: 0px;
    text-align: center;
}
#blocks2_details>ul {
    padding-left: 120px;
}

#kami_details:target {
    top: 5%;
    opacity: 1;
    pointer-events: all;

    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -0-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#kami_details>h1 {
    font-size: 32pt;
    text-align: center;
    margin-bottom: 0px;
}
#kami_details>p.subtitle {
    font-size: 9pt;
    opacity: 0.5;
    margin-top: 0px;
    text-align: center;
}
p.centered.kami_link {
    font-size: 12pt;
}
#kami_details>ul {
    padding-left: 120px;
}

#thelittlethings_details:target {
    top: 5%;
    opacity: 1;
    pointer-events: all;

    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -0-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#reverb_details:target {
    top: 5%;
    opacity: 1;
    pointer-events: all;

    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -0-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/* News */

#news>p {
    padding-left: 40px;
    padding-right: 40px;
}
.news_entrydate {
    opacity: 0.4;
    font-weight: 300;
    font-size: 12pt;
    margin-bottom: 5px;
}
.news_entry {
    margin-top: 5px;

}
.news_signoff {
    font-style: italic;
    margin-bottom: 15px;
}


/* Footer */

#footer {
    margin-bottom: 40px;
}
#footer>p {
    padding-left: 40px;
    padding-right: 40px;
}
